.card {
    border-radius: 4px;
    background: #fff;
}

.header {
    padding: 0 15px;
}

.headerTitle {
    display: flex;
    align-items: center;
}

.headerContent {
    padding: 8px 0;
    border-bottom: 1px solid #DDDDDD;
    font-size: 15px;
    line-height: 1.46;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 49px;
}

.content {
    padding: 0 15px;
}

.actions {
    padding: 0 15px 15px;
    display: flex;
    align-items: center;

    &.justifyEnd {
        justify-content: flex-end;
    }
}